#dev
dev/ 

# Dependencies
node_modules/
.pnp/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js
.next/
out/
dist/
build/

# Environment variables
.env*
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Cache / tooling
.eslintcache
.turbo/

# Testing
coverage/

# OS / Editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Vercel
.vercel/
